#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// GUI用イメージ
background.png   PNG   ".\\img\\background.png"
knob.png         PNG   ".\\img\\knob.png"
knob_handle.png  PNG   ".\\img\\knob_handle.png"
slider.png         PNG   ".\\img\\slider.png"
slider_handle.png  PNG   ".\\img\\slider_handle.png"